<!DOCTYPE HTML>
<html>
<head>
  <title>Rohith Vutnoor</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="Personal" />
  <link rel="icon" href="http://rohithvutnoor.com/images/icons/favicon.png">


</head>
<body>
</br></br></br></br></br></br></br></br>

<div id='j'>
  <p>
    <a href='profile'><button style="border: none; outline:none;">Profile</button></a>
  </p>
  <p>
    <a href='themadguy'><button style="border: none; outline:none;">The MadGuy</button></a>
  </p>
</div>
<br/>

<center>
  <div>
    <a href="https://plus.google.com/+RohithVutnoor">
      <img src="images/icons/GooglePlus-icon.png" height=auto width=5%/>
    </a>
    <a href="https://www.facebook.com/vutnoorrohith">
      <img src="images/icons/Facebook-icon.png" height=auto width=5%/>
    </a>
    <a href="https://github.com/rohithvutnoor">
      <img src="images/icons/GitHub-icon.png" height=auto width=5%/>
    </a>
    <a href="https://in.linkedin.com/in/rohith-vutnoor-53b174111">
      <img src="images/icons/LinkedIn-icon.png" height=auto width=5%/>
    </a>
    <a href="https://www.youtube.com/channel/UCqWpyP0zKxMKkHMdbeuHVvA">
      <img src="images/icons/Youtube-icon.png" height=auto width=5%/>
    </a>
    <a href="https://rohithvutnoor.blogspot.in/">
			<img src="images/icons/Blogger.png" height=auto width=5%/>
		</a>
							<a href="art.html">
						<img src="images/icons/Art-icon.png" height=auto width=5%/>
					</a> 
  </div>
</center>


</body>

</html> >
<style >
  html, body{
    margin: 0;
    padding: 0.5rem;
  }
  body {
    background: url(/images/home.jpg) no-repeat fixed;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100% ;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
  }
  p
  {
    font-size: inherit;
    color: black;
  }
  #j
  {
    text-align:center;
  }
  #h
  {
    text-align:center;
  }
  button
  {
    font-size: 4.6vmin;
    color:white;
    width: 50%;
    border-radius:25px;
    background:rgb(244,77,77);
    border:black;
    padding:4%;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
  }
  button:hover
  {
    font-weight:bold;
    font-size: 5.0vmin;
    background-color: white;
    color: black;
    border: 1px solid #f44336;
  }
</style>
