<html>
<head>
    <meta http-equiv="refresh" content="0.1;url=/" />
    <title>Rohith Vutnoor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Personal" />
    <link rel="icon" href="http://rohithvutnoor.com/images/icons/favicon.png">
</head>

<body>
Message Sent Successfully Redirecting to Home Page If Not Directed Please<a href = "/" >Click Here</a>
</body>
</html>